# Copy this file to '.env' and populate with your local/development secrets.

# Application Running Environment
PORT=3000
NODE_ENV=development

# Neon PostgreSQL Database Connection URL (Pg-driver compatible)
# Format: postgresql://[user]:[password]@[host]:[port]/[database]?sslmode=require
DATABASE_URL="postgresql://user:placeholder_password@ep-placeholder-host.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT Token Signing Secret (Keep it long and secure in production)
JWT_SECRET="your_jwt_signing_secret_min_32_characters_long_placeholder"